@font-face {
  font-family: 'Pricedown';
  src: url('/fonts/pricedown.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mokoto';
  src: url('/fonts/mokoto.regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

:root {
  --font-heading: var(--font-caveat), 'Caveat', cursive;
  --font-body: var(--font-geist-sans), 'Geist', sans-serif;
  --font-code: var(--font-geist-mono), 'Geist Mono', monospace;
  --font-name: var(--font-caveat), 'Caveat', cursive;
  --font-loader: 'Mokoto', sans-serif;
}

body {
  font-family: var(--font-body), sans-serif;
}
